site_name: CESNET DataZoo
repo_name: CESNET/cesnet-datazoo
repo_url: https://github.com/CESNET/cesnet-datazoo

theme:
  name: "material"
  palette:
    primary: blue grey
  features:
    - navigation.sections
  logo: images/datazoo_logo.svg
  favicon: images/datazoo_logo.svg

plugins:
  - search
  - autorefs
  - mkdocstrings:
      handlers:
        python:
          paths: [cesnet_datazoo]

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences

extra:
  analytics:
    provider: google
    property: G-788ETHG59K

nav:
  - Introduction: index.md
  - Installation: installation.md
  - Oveview of datasets: datasets_overview.md
  - Features: features.md
  - Tutorials:
    - Getting started: getting_started.md
  - Reference:
    - CesnetDataset: reference_cesnet_dataset.md
    - DatasetConfig: reference_dataset_config.md
    - Datasets: reference_datasets.md
    - DatasetMetadata: dataset_metadata.md
